.slide_count {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: arrow 2.5s ease-in-out infinite;
	font-weight: 200;
	font-size: 15px;
	margin-top: 1rem;
	position: fixed;
	bottom: 20px;
	width: 100%;
	color: white;
}

.slide_count>span {
	opacity: 0.2;
}

.slide_count span {
	text-align: center;
	font-family: "Noto Sans";
	font-size: 15px;
	font-style: normal;
	font-weight: 100;
	letter-spacing: 2px;
}

.slide_count .img_wrapper {
	opacity: 0.2;
}