.section_bg_wrapper {
  height: 100vh;
}

.section_bg_wrapper .section1 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section_bg_wrapper .section1 .lottie_fixed {
  width: 50%;
}

/* .section_bg_wrapper .section1 .content_wrapper */
.section_bg_wrapper .section1 .text_wrapper {
  opacity: 0;
  max-width: 600px;
  text-align: center;
  margin-top: auto;
  /* border: 1px solid red; */
}

.section_bg_wrapper .content_wrapper {
  position: relative;
  width: 100%;
  height: 20%;
}

.section_bg_wrapper .content_wrapper .content1,
.section_bg_wrapper .content_wrapper .content2,
.section_bg_wrapper .content_wrapper .content3,
.section_bg_wrapper .content_wrapper .content4,
.section_bg_wrapper .content_wrapper .content5,
.section_bg_wrapper .content_wrapper .content6,
.section_bg_wrapper .content_wrapper .content7 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section_bg_wrapper .section1 .content_wrapper .content1 .text_wrapper {
  /* opacity: 1; */
}